﻿@page
@model OpenMarket.Pages.ProductAddModel
@{
    ViewData["Title"] = "Add Product";
}

<div class="row">
    <div class="col-md-4">
        <form method="post">

            <div class="form-group">
                <label asp-for="NewProduct.Name" class="control-label"></label>
                <input asp-for="NewProduct.Name" class="form-control" />
                <span asp-validation-for="NewProduct.Name"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewProduct.Description" class="control-label"></label>
                <!-- <input asp-for="NewProduct.Description" class="form-control" /> -->
                <textarea asp-for="NewProduct.Description" class="form-control" rows="10" ></textarea>
                <span asp-validation-for="NewProduct.Description"></span>
                
            </div>

            <div class="form-group">
                <label asp-for="NewProduct.Quantity" class="control-label"></label>
                <input asp-for="NewProduct.Quantity" class="form-control" />
                <span asp-validation-for="NewProduct.Quantity"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Add Product" class="btn btn-info" />
            </div>
        </form>
    </div>
</div>