@page "{id:int}"
@using Models
@model OpenMarket.Pages.Admin.Products.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>
<h4>Product - @Model.Product.Name</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Product.Id" />
            <div class="form-group">
                <label asp-for="Product.Name" class="control-label"></label>
                <input asp-for="Product.Name" class="form-control" />
                <span asp-validation-for="Product.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.Description" class="control-label"></label>
                <input asp-for="Product.Description" class="form-control" />
                <span asp-validation-for="Product.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.QuantityAvailable" class="control-label"></label>
                <input asp-for="Product.QuantityAvailable" class="form-control" />
                <span asp-validation-for="Product.QuantityAvailable" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.Price" class="control-label"></label>
                <input asp-for="Product.Price" class="form-control" />
                <span asp-validation-for="Product.Price"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.DiscountedPrice" class="control-label"></label>
                <input asp-for="Product.DiscountedPrice" class="form-control" />
                <span asp-validation-for="Product.DiscountedPrice"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.IsOnSale" class="control-label"></label>
                <select asp-for="Product.IsOnSale">
                    @if(@Model.Product.IsOnSale == true){
                        <option value="true">Yes</option>
                        <option value="false">No</option>
                    }else{
                        <option value="false">No</option>
                        <option value="true">Yes</option>
                    }
                    
                </select>
                <span asp-validation-for="Product.IsOnSale"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.ProductCategory" class="control-label">Product Category</label>
                <select asp-for="CatId">
                    @{
                        <option value="@Model.Product.ProductCategory.Id">@Model.Product.ProductCategory.Name</option>
                        @foreach(ProductCategory p in Model.ProductCategoryLM){
                        if(p.Id != Model.Product.ProductCategory.Id){
                            <option value="@p.Id">@p.Name</option>
                        }
                        }
                    }
                    
                </select>
                <span asp-validation-for="Product.ProductCategory"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.CreatedOnDate" class="control-label"></label>
                <input asp-for="Product.CreatedOnDate" class="form-control" />
                <span asp-validation-for="Product.CreatedOnDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.PhotoPath" class="control-label"></label>
                <input asp-for="Product.PhotoPath" class="form-control" disabled/>
                <span asp-validation-for="Product.PhotoPath"></span>
            </div>
            <div class="form-group row">
                <label asp-for="UploadedFile" class="col-sm-3 col-form-label">Image</label>
                <div class="col-sm-10">
                    <input asp-for="UploadedFile" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
