﻿@page
@model OpenMarket.Pages.CategoryAddModel
@{
}
<div class="row">
    <div class="col-md-4">
        <form method="post">

            <div class="form-group">
                <label asp-for="NewCategory.Name" class="control-label"></label>
                <input asp-for="NewCategory.Name" class="form-control" />
                <span asp-validation-for="NewCategory.Name"></span>
            </div>



            <div class="form-group">
                <input type="submit" value="Add Category" class="btn btn-info" />
            </div>
        </form>
    </div>
</div>