﻿@page
@using Models
@model OpenMarket.Pages.CheckoutModel
@{
    
}

<div class="container">
  <form method="post">
    <div class="row">
      <div class="col-12 text-center text-light bg-info p-3">
          <h1>@Model.BuyProduct.Name x @Model.ProductQuantity</h1>
          @if(@Model.BuyProduct.IsOnSale == true){
            <h2>Per Item: $@string.Format("{0:0.00}" , @Model.BuyProduct.DiscountedPrice)</h2>
          }else{
            <h2>Per Item: $@string.Format("{0:0.00}" , @Model.BuyProduct.Price)</h2>
          }
          <h2>Subtotal: $@string.Format("{0:0.00}" , @Model.AddedPrice)</h2>
          <h2>Shipping: + $@string.Format("{0:0.00}" , 5.50)</h2>
          <h2>Tax : + $@string.Format("{0:0.00}" , @Model.TaxPrice)</h2>
          <h2 class="text-warning">Total Cost: $@string.Format("{0:0.00}" , @Model.GrandTotal)</h2>
          <div class="row">
              <div class="form-group col-6 text-light bg-info p-3 text-left">
                <label asp-for="@Model.CurrOrder.OrderShipName" class="control-label font-weight-bold">Your Name</label>
                <input asp-for="@Model.CurrOrder.OrderShipName" class="form-control" />
                <span asp-validation-for="@Model.CurrOrder.OrderShipName"></span>
          </div>
          <div class="form-group col-6 text-light bg-info p-3 text-left">
                <label asp-for="@Model.CurrOrder.OrderAddress" class="control-label font-weight-bold">Street Address</label>
                <input asp-for="@Model.CurrOrder.OrderAddress" class="form-control" />
                <span asp-validation-for="@Model.CurrOrder.OrderAddress"></span>
          </div>
          <div class="form-group col-6 text-light bg-info p-3 text-left">
                <label asp-for="@Model.CurrOrder.OrderCity" class="control-label font-weight-bold">City</label>
                <input asp-for="@Model.CurrOrder.OrderCity" class="form-control" />
                <span asp-validation-for="@Model.CurrOrder.OrderCity"></span>
          </div>
          <div class="form-group col-6 text-light bg-info p-3 text-left">
                <label asp-for="@Model.CurrOrder.OrderProvince" class="control-label font-weight-bold">Province</label>
                <input asp-for="@Model.CurrOrder.OrderProvince" class="form-control" />
                <span asp-validation-for="@Model.CurrOrder.OrderProvince"></span>
          </div>
          <div class="form-group col-6 text-light bg-info p-3 text-left">
                <label asp-for="@Model.CurrOrder.OrderPostalCode" class="control-label font-weight-bold">Postal Code</label>
                <input asp-for="@Model.CurrOrder.OrderPostalCode" class="form-control" />
                <span asp-validation-for="@Model.CurrOrder.OrderPostalCode"></span>
          </div>
          <div class="form-group col-6 text-light bg-info p-3 text-left">
                <label asp-for="@Model.CurrOrder.OrderCountry" class="control-label font-weight-bold">Country</label>
                <input asp-for="@Model.CurrOrder.OrderCountry" class="form-control" />
                <span asp-validation-for="@Model.CurrOrder.OrderCountry"></span>
          </div>
          <div class="form-group col-6 text-light bg-info p-3 text-left">
                <label asp-for="@Model.CurrOrder.OrderPhone" class="control-label font-weight-bold">Contact Phone</label>
                <input asp-for="@Model.CurrOrder.OrderPhone" class="form-control" />
                <span asp-validation-for="@Model.CurrOrder.OrderPhone"></span>
          </div>
          <div class="form-group col-6 text-light bg-info p-3 text-left">
                <label asp-for="@Model.CurrOrder.OrderEmail" class="control-label font-weight-bold">Contact Email</label>
                <input asp-for="@Model.CurrOrder.OrderEmail" class="form-control" />
                <span asp-validation-for="@Model.CurrOrder.OrderEmail"></span>
          </div>
          <div class="form-group col-12 text-light bg-info p-3 text-center">
                <h2>Pay here to confirm order</h2>
                <div id="paybt"></div>
                <h1 id="passForm"></h1>
          <p id="passButton"></p>
          </div>
           <div class="form-group col-12 text-light bg-info p-3 text-center">
                <h1 id="passForm"></h1>
                <p id="passButton"></p>
                <input asp-for="PaymentDone" value="2" type="hidden">
                <h3><button type="submit" class="btn btn-warning font-weight-bold">Place Order</button></h3>
          </div>
          </div>
      </div>
        <div class="col-12 text-center">
          
            <script src="https://www.paypal.com/sdk/js?client-id=AXhVH5rwOb9b4UKP98Y3ekIisCcZtCDSfpb_Z5Dxh4v6aUsmzunShTExTsqPNSPolqwlf92bXwMbt-dJ&disable-funding=credit,card"></script>
            <script>
            var checkoutAmount = (@Model.GrandTotal);
paypal.Buttons({
        createOrder: function(data, actions) {
          return actions.order.create({
            purchase_units: [{
              amount: {
                value: checkoutAmount
              }
            }]
          });
        },
        onApprove: function(data, actions) {
          return actions.order.capture().then(function(details) {
              var passForm = document.getElementById("passForm")
              var inp = document.createElement("input");
              inp.setAttribute('type', 'hidden');
              inp.setAttribute('data-val', 'true');
              inp.setAttribute('data-val-required', 'the PaymentDone field is required');
              inp.setAttribute('name', 'PaymentDone');
              inp.setAttribute('id', 'PaymentDone');
              inp.setAttribute('value', '2');
              passForm.appendChild(inp);
              var passButton = document.getElementById("passButton");
              var buttonHolder = document.createElement("button");
              var buttonPara = document.createElement("p");
              var buttonText = document.createTextNode("Complete Order");
              buttonPara.appendChild(buttonText);
              buttonHolder.setAttribute('type', 'submit');
              passButton.appendChild(buttonHolder);
              buttonHolder.appendChild(buttonPara);
              buttonPara.setAttribute('class', 'mx-4 my-2');
              buttonHolder.setAttribute('class', 'btn btn-primary font-weight-bold p-2');
          });
        }
      }).render('#paybt');
    </script> 
        </div>
    </div>
    </form> 
</div>
 
