﻿@page "{id:int}"
@model OpenMarket.Pages.ProductviewModel
@{
    ViewData["Title"] = "View Product";
    Model.CardBg = Model.SelectedProduct.QuantityAvailable >= 1 ? "bg-info" : "bg-danger" ;
    string PhotoLoc = "images/box1.png";
}

<div class="container text-center">
    <div class="row">
            <div class="col-12 @Model.CardBg m-4 p-5 text-center product-display">
                <h1 class="text-light mb-3">@Model.SelectedProduct.Name</h1>
                @{
                    if(@Model.SelectedProduct.PhotoPath != null){
                    PhotoLoc = @Model.SelectedProduct.PhotoPath;
                    }else{
                        if(@Model.SelectedProduct.QuantityAvailable <= 0){
                        PhotoLoc = "images/openbox.png";
                    }
                    }
                }
                <img src="/@PhotoLoc" alt="@Model.SelectedProduct.Name" class="img-fluid product-pic mb-3">
                <h4 class="text-light">@Model.SelectedProduct.Description</h4>
                <h4 class="text-light">Category: @Model.SelectedProduct.ProductCategory.Name</h4>
                @if(Model.SelectedProduct.IsOnSale == true){
                    var TextColor = @Model.SelectedProduct.QuantityAvailable <= 0 ? "text-warning" : "text-danger" ;
                    <h3 class="@TextColor mb-3"><img src="/images/sale5.png" alt="" class="sale-tag">
                    <strike class="ml-2">$@string.Format("{0:0.00}" , @Model.SelectedProduct.Price)</strike> 
                    <span class="text-light">$@string.Format("{0:0.00}" , @Model.SelectedProduct.DiscountedPrice)</span></h3>
                }else{
                    <h3 class="text-light mb-2">$@string.Format("{0:0.00}" , Model.SelectedProduct.Price)</h3>
                    
                } 
                <form method="post">
                @if(Model.SelectedProduct.QuantityAvailable >= 1){
                    <h3 class="text-light mb-3">@Model.SelectedProduct.QuantityAvailable in stock</h3>
                }else{
                    <h3 class="text-warning mb-3 ">@Model.SelectedProduct.QuantityAvailable in stock</h3>
                }
                @if(@Model.SelectedProduct.QuantityAvailable >= 1){
                    <div class="form-group">
                    <label asp-for="QuantityChosen" class="control-label">Amount</label>
                    <select asp-for="QuantityChosen">
                        @{
                            @for(int x = 1; x <= @Model.SelectedProduct.QuantityAvailable; x++){
                                <option value="@x">@x</option>
                            }
                        }
                    
                    </select>
                    <span asp-validation-for="QuantityChosen"></span>
                </div>
                }
                @if(Model.SelectedProduct.QuantityAvailable >= 1){
                    <a href="#"><button class="btn btn-dark font-weight-bold">Buy</button></a>
                }else{
                    <a href="#"><button type="submit" class="btn btn-dark font-weight-bold" disabled>Coming Soon</button></a>
                }
                </form>
            </div>
    </div>
<h3>Product Reviews</h3>
<div class="row">
    @foreach (var item in @Model.ReviewsList)
    {
        if(item.Product.Id == @Model.SelectedProduct.Id){
            <div class="col-12 m-4 p-5 text-center product-display bg-info">
                <h4 class="text-light"> (@item.Rating / 10)</h4>
                <h5 class="text-light">@item.Reviewer.Email posted:</h5>
                <h4 class="text-light">@item.Content</h4>
            </div>
        }
    }
    <div class="col-12 m-4 p-5 text-center product-display bg-info">
                <h3 class="text-light"><a class = "nav=link" asp-page="/ReviewAdd" asp-route-id="@Model.SelectedProduct.Id">Add Review</a></h3>
            </div>
</div>
<ul>
    <!-- <a class = "nav=link" asp-page="/ReviewView" asp-route-id="@Model.SelectedProduct.Id" >View Review</a> -->
</ul>
</div>