﻿@page "{id:int}"
@model OpenMarket.Pages.ReviewViewModel
@{
}



<div>
    <h4>Review</h4>
    <hr />



            <div class="form-group ">
                <label asp-for="Id" class="control-label">Product</label>
                <input asp-for="ReviewView.Product" class="form-control bg-success" value= "@Model.Product.Name" disabled />
                <span asp-validation-for="ReviewView.Product"></span>
                
                <span asp-validation-for="Id"></span>
            </div>
        
            
   <div class="container">
            <div class="form-group">
                <label asp-for="Id" class="control-label">Content</label>
                <textarea asp-for="ReviewView.Content" class="form-control" rows="5" value="@Model.ReviewView.Content" disabled  />@Model.ReviewView.Content</textarea>
                <span asp-validation-for="ReviewView.Content"></span>
                
                <span asp-validation-for="Id"></span>
            </div>

            <div class="form-group">
                <label asp-for="Id" class="control-label">Rating [1-10]</label>
                <input asp-for="ReviewView.Rating" class="form-control" value="@Model.ReviewView.Rating" disabled />
                <span asp-validation-for="ReviewView.Rating"></span>
                
                <span asp-validation-for="Id"></span>
            </div>
 
    </div>
   
</div>


  


<div>

    <a asp-page="./Index">Back to List</a>
</div>
