﻿@page
@model OpenMarket.Pages.Admin.IndexModel
@{
}

<div class="container">
    
    <div class="row text-center">
        <div class="col-12 mb-4">
            <h1>Admin Actions</h1>
        </div>
        <div class="col-6 text-light font-weight-bold mb-4">
            <button class="btn btn-info wid" id="submit"><a class="nav-link text-dark" asp-area="" asp-page="/Admin/Products/Index"> <h5>Manage Products</h5></a></button>
        </div>
        <div class="col-6 text-light font-weight-bold mb-4">
            <button class="btn btn-info wid" id="submit"><a class="nav-link text-dark" asp-area="" asp-page="/Admin/Category/Index"><h5> Manage Category</h5></a></button>
        </div>
        <div class="col-6 text-light font-weight-bold mb-4">
            <button class="btn btn-info wid" id="submit"><a class="nav-link text-dark" asp-area="" asp-page="/Admin/Reviews/Index"><h5> Manage Review</h5></a></button>
        </div>
        <div class="col-6 text-light font-weight-bold mb-4">
            <button class="btn btn-warning wid" id="submit"><a class="nav-link text-dark" asp-area="" asp-page="/Admin/Users/Index"><h5> Manage User</h5></a></button>
        </div>
        <div class="col-6 text-light font-weight-bold mb-4">
            <button class="btn btn-danger wid" id="submit"><a class="nav-link text-dark" asp-area="" asp-page="/Account/Profile"><h5> Manage Admin</h5></a></button>
        </div>
        <div class="col-6 text-light font-weight-bold mb-4">
            <button class="btn btn-danger wid" id="submit"><a class="nav-link text-dark" asp-area="" asp-page="/Admin/Transactions/Index"><h5> View Transactions</h5></a></button>
        </div>
    </div>
</div>

<!--
<ul class="navbar-nav ml-auto">

     <li class="nav-item">
        <button class="btn btn-info" id="submit"><a class="nav-link text-dark" asp-area="" asp-page="/Admin/Products/Index"> <h5>Manage Products</h5></a></button>
    
    </li>
    <br>

    <br>

    <li class="nav-item">
        <button class="btn btn-info" id="submit"><a class="nav-link text-dark" asp-area="" asp-page="/Admin/Category/Index"><h5> Manage Category</h5></a></button>

    </li>

    <br>

    <br>
    <li class="nav-item">
        <button class="btn btn-info" id="submit"><a class="nav-link text-dark" asp-area="" asp-page="/Admin/Reviews/Index"><h5> Manage Review</h5></a></button>

    </li>

    <br>

    <br>

    <li class="nav-item">
        <button class="btn btn-warning" id="submit"><a class="nav-link text-dark" asp-area="" asp-page="/Admin/Users/Index"><h5> Manage User</h5></a></button>

    </li>

    
    <br>

    <br>

    <li class="nav-item">
        <button class="btn btn-danger" id="submit"><a class="nav-link text-dark" asp-area="" asp-page="/Account/Profile"><h5> Manage Admin</h5></a></button>

    </li>
    <br>

    <br>

    <li class="nav-item">
        <button class="btn btn-danger" id="submit"><a class="nav-link text-dark" asp-area="" asp-page="/Admin/Transactions/Index"><h5> View Transactions</h5></a></button>

    </li>



</ul>
-->


            

            
