@page 
@model OpenMarket.Pages.Admin.Users.DeleteSuccessModel
@{
    ViewData["Title"] = "Delete Success";
    Layout = "_Layout";
}

<h1>@ViewData["Title"]</h1>
@{
    <p>User deleted successfully
        <a href="./Index">Click here to continue.</a>
    </p>
}