@page
@model OpenMarket.Pages.Admin.Users.AdminIndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Manage Users</h1>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Email</th>
            <th scope="col">Manage</th>
        </tr>
    </thead>
    <tbody>
         @foreach (var u in Model.UserList)
            {
                <tr>
                    <td>@u.Email</td>          
                    <td>
                        <a asp-page="./Edit" asp-route-Email="@u.Email">Edit</a> |
                        
                        <a asp-page="./Delete" asp-route-Email="@u.Email">Delete</a>
                    </td>
                </tr>
            }

    </tbody>
</table>