﻿@page
@model OpenMarket.Pages.Admin.Category.CategoryAddModel
@{
}
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">


         <div class="form-group">
                <label asp-for="NewCategory.Name" class="control-label"></label>
                <input asp-for="NewCategory.Name" class="form-control" />
                <span asp-validation-for="NewCategory.Name"></span>
        </div>
    <div class="form-group row">
      <label asp-for="UploadedFile" class="col-sm-2 col-form-label">Image</label>
      <div class="col-sm-10">
        <input asp-for="UploadedFile" class="form-control" />
        <span asp-validation-for="UploadedFile"></span>
      </div>
    </div>



            <div class="form-group">
                <input type="submit" value="Add Category" class="btn btn-info" />
            </div>
        </form>
    </div>
</div>