@page
@model OpenMarket.Pages.Admin.Category.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ProductCategory</h4>
<hr />
<div class="row">
    <div class="col-md-4">

        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ProductCategory.Id" />
            <div class="form-group">
                <label asp-for="ProductCategory.Name" class="control-label"></label>
                <input asp-for="ProductCategory.Name" class="form-control" />
                <span asp-validation-for="ProductCategory.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductCategory.PhotoPath" class="control-label"></label>
                <input asp-for="ProductCategory.PhotoPath" class="form-control" disabled/>
                <span asp-validation-for="ProductCategory.PhotoPath"></span>
            </div>

            <div class="form-group row">
                 <label asp-for="UploadedFile" class="col-sm-3 col-form-label">Image</label>
                <div class="col-sm-10">
                 <input asp-for="UploadedFile" class="form-control">
                 </div>  
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>


<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
